# conda create -n asr python=3.11 --y
# conda activate asr
conda install conda-forge::ffmpeg --y
conda install ipython --y

# cuda 13.x requires driver >= 580
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu130
# cuda 12.x requires driver >= 525
pip3 install torch torchvision
# cuda 11.x requires driver >= 450
# pip3 install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu118

pip3 install transformers datasets[audio] evaluate tqdm pyyaml wandb jiwer==3.1.0

# recent version of datasets requires pyarrow > 21 which requires glib > 2.28
# however most of our servers have version 2.27 or older glib
# alternative is to install datasets==4.0 which has lower pyarrow version req (>15)
# but audio still requires torch >=2.7.0 (more than cuda 11.x supports)
# another is datasets==3.6.0 which does not require a specific pytorch version
# pip3 install pyarrow --only-binary=:all:
# pip3 install transformers datasets[audio]==3.6.0 evaluate tqdm pyyaml wandb==0.23.0 jiwer==3.1.0

# required for voxtral
# needed if compiling on glibc < 2.28
# pip3 install tiktoken==0.11.0
# pip3 install "mistral-common[audio,hf-hub]"

# others (i think its auto-installed when installing mistral-common[audio])
# pip3 install soundfile

# when using quantization (and in general if using auto device_map)
# pip3 install accelerate
# pip3 install bitsandbytes

# other quant types
# pip3 install hqq
# pip3 install dynamo-quanto

# when using granite need
# pip3 install torchaudio peft

# for audio-flamingo
# need to clone transformers and install locally or transformers>5

# for phi4
# pip3 install backoff scipy
# pip3 install flash-attn --no-build-isolation

# torch>=2.1
# transformers>=4.36
# datasets>=2.16
# evaluate>=0.4
# soundfile
# numpy
# tqdm
# pyyaml
# jiwer==3.1.0


# accelerate                1.12.0
# datasets                  4.4.2
# evaluate                  0.4.6
# huggingface-hub           0.36.0
# ipython                   9.7.0
# jiwer                     3.1.0
# mistral_common            1.8.8
# peft                      0.18.0
# PyYAML                    6.0.3
# safetensors               0.7.0
# soundfile                 0.13.1
# torch                     2.9.1+cu130
# torchcodec                0.9.1
# torchvision               0.24.1+cu130
# tqdm                      4.67.1
# transformers              4.57.3
